<link rel="stylesheet" href="<%= assetPath('css/home.css')%>">
<link rel="stylesheet" href="<%= assetPath('css/chat_box.css')%>">

<div id="home-container">

    
        <% if(locals.user){%>

            <section id="left-side">
                User profile picture
            </section>
            
            
        <%}%>

    <section id="feed-posts">

        <% if(locals.user){ %>
            <h4>Posts</h4>
        <form action="/posts/create" id="new-post-form" method="POST">
    
            <textarea name="content"  cols="30" rows="3" placeholder="Type Here..." required></textarea>
    
            <input type="submit" value="Post">
    
        </form>
    
        <div id="posts-list-container">
            <ul>
    
                <% for(post of posts) {%>
                    
                    <%- include('_post') -%>
                    
                <% } %>
    
            </ul>
        </div>
    
        <% } %>
    </section>
    

    <% if(locals.user){ %>


        <section id="user-friends">

            <h4>Friends</h4>
        
            <% for(u of all_users){ %>
        
                <p>
                    <a href="/users/profile/<%= u.id %>">
                        <%= u.name %>
                    </a>
                </p>
                
            <% } %>

        </section>

        <%- include('_chat_box') -%>

    <% } %>
    

</div>
<script src="<%= assetPath('js/home_post_comments.js')%>" ></script>
<script src="<%= assetPath('js/home_posts.js')%>"></script>

<script src="<%= assetPath('js/toggle_likes.js')%>"></script>
<script>
    $('.toggle-like-button').each(function(){
        let self=this;
        let toggleLike=new ToggleLike(self);
    });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.3/socket.io.js"></script>
<script src="<%= assetPath('js/chat_engine.js')%>"></script> 
<!-- chat_engine.js will be communicating client side  -->
<!-- chat_sockets.js will be the observer -->
<% if(locals.user){ %>
    <script>
        new ChatEngine('user-chat-box', '<%= locals.user.email %>');
    </script>
<% } %>


